<h2>集計結果</h2>
<table>
  <thead>
    <tr><th>日付</th><th>出勤</th><th>退勤</th><th>労働時間</th></tr>
  </thead>
  <tbody>
    <% @results.each do |r| %>
      <tr>
        <td><%= r[:date] %></td>
        <td><%= r[:start] %></td>
        <td><%= r[:end] %></td>
        <td><%= r[:hours] %> 時間</td>
      </tr>
    <% end %>
  </tbody>
</table>
